

@font-face {
    font-family: Helvetica;
    src: url(Assets/Fonts/HelveticaLTStd-Light.otf);
  }

@font-face {
    font-family: Helveticatwo;
    src: url(Assets/Fonts/HelveticaLTStd-Roman.otf);
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: "Helvetica", sans-serif;
    background-color: #1d1d1d;
    color: #efefef;
    overflow-x: hidden;
    margin: 0px;
    
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1d1d1d;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #E16C51;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #E16C51;
  }



    h1 {
        font-size: 12.5em;
        padding: 0px;
        margin: 0px;
        letter-spacing: -.001em;
    }

    h2{
        font-size: 6em;
        padding: 0px;
        margin: 0px;
        letter-spacing: -.001em;
        line-height: 1em;
    }

    h3{
        font-size: 4em;
        padding: 0px;
        margin: 0px;
        letter-spacing: -.001em;
        line-height: 1em;
    }

    h4{
        font-size: 3.3em;
        padding: 0px;
        margin: 0px;
        letter-spacing: -.001em;
    }

    h5{
        font-size: 2em;
        padding: 0px;
        margin: 0px;
        letter-spacing: -.001em;
    }


    a {
        color: inherit;
        text-decoration: none;
        transition: ease .5s;
    }

    a:hover {
        color: #E16C51;
        transition: ease .5s;
        
    }    

    .bg-image1 {
        width: 100%;
        position: absolute;
        z-index: -5;
        top:0;
        left: 0;
    }


    .bg-image2 {
        width: 80%;
        position: absolute;
        z-index: -5;
        top:0;
        left: 50%;
    }

    .bg-image3 {
        width: 70%;
        position: absolute;
        z-index: -5;
        top:0;
        left: -50%;
    }

    .bg-image4 {
        width: 100%;
        position: absolute;
        z-index: -5;
        bottom:0;
        
    }



  

    .large-caption {
        font-family: "Helveticatwo";
        font-size:2.5em;
        margin: 0px;
    }

.container {
    width: 80%;
    padding-left: 5%;
}

.spacer {
    height: 10vh;
}    

.navbar-wrapper {
    position: fixed;
    top: 25%;
    right: 3%;
    z-index: 999;

}

ul {
    list-style: none;
}

li {
    text-decoration: none;
    font-size: 1em;
    margin-top: 1em;
    
}



.navlink {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}



    .section-link-wrapper {
        position: relative;
    }

    .section-link:hover {
        color: #efefef;
        
    }

    .section-link:hover + .nav-help-text{
        opacity: 1;
       
        transition: opacity 1s; 
        
    }


    .internal-link {
        display: flex;
        flex-direction: row;
    }

    .nav-help-text {
        margin-top: 0px;
        margin-bottom: 0px;
        position: absolute;
        top: 0;
        opacity: 0;
        /* transform: translateX(-205%); */
        margin-left: -7em;
        transition: opacity .5s;
        z-index: -2;
        color: #efefef;
    }




.section {
    padding-top: 2em;
    margin-top: 15em;
    margin-bottom: 15em;
}

.section:first-child {
    padding-top: 0px;
    margin-top: 0px;
}

.flexcontainer-row {
    overflow:hidden;
}


    .row {
        display: flex;
        flex-direction: row;
        
    }

    .table{
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        justify-content: space-between;
    }

    .bottom-line {
        padding-bottom: .5em;
        border-bottom: 1px solid;
        border-color: #efefef;
    }

    .section-content {
        overflow: hidden;
        padding-top: 1em;
        width: 100%;
        display: flex;
        flex-direction: row;
       
    }

    .section-content-divider {
        padding-top: 1em;
        border-top: 1px solid;
        border-color: #efefef;
    }

        .content-left {
            width: 50%;
            margin-right: 2em;
        }

        .content-right {
            width: 50%;
        }

#section1 {
    width: 100%;
    height: 100vh;
    
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

    .hero-content-top {
        margin-top: 2em;
    }


    .hero-content-bottom {
        align-items: center;
        justify-content: center;
        align-content: center;
    }

        #hero-word2{
            margin-top: -4em;
        }


 .profileimage {
    width: 15%; padding-left: 2%;
 }




.section3-column-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
}

    .section3-column-right {
        width:35%
    }


    .tip-wrapper {
        position: relative;
        width: 100%;
        height: 90%;
        padding-bottom: 5em;
    }

     #tip2 {
         width: 100%;
         margin-left: 50%;
     }


        .tipnum {
            margin-bottom:-.15em; 
            margin-right:.2em;
        }

.section4-column-wrapper {
    position: relative;
    height: 100%;
    padding-top: 8em;
    padding-bottom: 8em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

    .section4-column-left {
        margin-right: 2em;
    }

    .section4-column-right {
        padding-left: 4em;
    }

.section5-content {
    padding:8em 0 8em 0; 
    height: 100%;
}



    .summarypara{
        width: 40%; 
        padding-top: 2em;
    }

.section5-column-wrapper-home {
    width: 100%;
    display: flex;
    flex-direction: row;
} 

.section5-column-left-home {
    width: 100%;
}

.section5-column-right-home {
    width: 30%;
    position: absolute;
    right: 15%;
}


    .summaryimage {
        position: absolute;
        width: 100%;
        top: 0;
    }





.section5-column-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 8em 0 8em 0;
    overflow: hidden;
}


.section5-column-left {
    overflow: hidden;
    width: 70%;
}

.flexcontainer-row {
    align-items: center;
}


.learning-experience-divider {
    border-top: 1px solid;
    border-color: #efefef;
    align-items: center;
}


    .learning-experience-divider:last-child {
        border-top: 1px solid;
        border-bottom: 1px solid;
        border-color: #efefef;
    }

    .learning-image {
        width: 1%; 
        height: 1%; padding-left: .5em;
        padding-right: 1em;"
    }


.section5-column-left {
    width: 70%;
    margin-right: 2em;
}


.videolast {
    
}




footer {
    position: relative;
    background-color:#fff;
    margin: 0;
    height: 6em;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer h4 {
    color: #1d1d1d;
}





.footer-column-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-left-column {
    width: 5%;
}



.lineParent {
    overflow:hidden;
    
    margin:0;
}

/* BG NOISE */






/* ANIMATIONS */

.overlayanimation {
    transform: translateY(150%);
    
}

.overlayanimation2 {
    transform: translateY(-150%);
}

.scrollin1 {
    transform:translateY(0%);
    transition: transform 1.5s ease-in-out;
}

.scrollin1-small {
    transform:translateY(0%);
    transition: transform .8s ease-in-out;
    
}


.scrollin2-small {
    transform:translateY(0%);
    transition: transform 1.4s ease-in-out;
}


.scrollin2 {
    transform:translateY(0%);
    transition: transform 2s ease-in-out;
}


.scrollin3 {
    transform:translateY(0%);
    transition: transform 2s ease-in-out;
}

.scrollin4 {
    transform:translateY(0%);
    transition: transform 1s ease-in-out;
    
}

.scrollin5 {
    transform:translateY(0%);
    transition: transform 1.5s ease-in-out;
    

}


.scrollin6 {
    transform:translateY(0%);
    transition: transform 2s ease-in-out ;
    transition-delay: .5s;

}

.scrollin7 {
    transform:translateY(0%);
    transition: transform 2.2s ease-in-out ;
    transition-delay: .5s;

}


.faded {
    opacity: 0;
    

}

.fadein {
    opacity: 1;
    transition: opacity 2s ease-in;
    transition-delay: .5s;
}

.fadein2 { 
    opacity: 1;
    transition: opacity 3s ease-out;
    
}



@media only screen and (max-width: 768px) {

    .container {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        padding:0px;
        
    }

    .navbar-wrapper {
        display: none;
    
    }

    .bg-image1 {
        width: 150%;
        position: absolute;
        z-index: -5;
        top:0;
        left: -50;
    }

    body {
        font-size: .8em;
        overflow-x: hidden;
    }

    h1 {
        font-size: 3em;
        padding: 0px;
        margin: 0px;
        letter-spacing: -.001em;
    }

    h2{
        font-size: 2em;
        padding: 0px;
        margin: 0px;
        letter-spacing: -.001em;
        line-height: 1em;
    }

    h3{
        font-size: 1em;
        padding: 0px;
        margin: 0px;
        letter-spacing: -.001em;
        line-height: 1em;
    }

    h4{
        font-size: 1.2em;
        padding: 0px;
        margin: 0px;
        letter-spacing: -.001em;
    }

    h5{
        font-size: .8em;
        padding: 0px;
        margin: 0px;
        letter-spacing: -.001em;
    }

/* Section 1 */

    .section {
        padding-top: 2em;
        margin-top: 8em;
        margin-bottom: 8em;
    }

    /* .section:first-child {
        padding-top: 0px;
        margin-top: 0px;
    } */

    #section1{
        height: 60vh;
        padding-top: 6em;
    }

    .section-content {
        overflow: hidden;
        padding-top: 1em;
        width: 100%;
        display: flex;
        flex-direction: column;
       
    }


    .content-left {
        width: 100%;
        
    }

    .content-right {
        width: 100%;
    }

    #hero-word2 {
        margin-top: 0px;
    }

    /* Section 2 */

    .profileimage {
        width: 100%;
        padding:0px;
    }


    /* Section 3 */
    .section3-column-wrapper  {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-left: -1em;
        padding-top: 2em;
        
    }



    .section3-column-wrapper p {
        font-size: .8em;
    }

    

    .section3-column-right {
        margin-left: 1em;
        width: 60%;
    }

    #tip2 {
        width: 100%;
        margin-left: -1em;
    }

        
    .tipnum {
        margin-bottom:0em; 
        margin-right:.2em;
    }
    
/* Section 4 */

.section4-column-wrapper {
    height: 100%;
    padding-top: 0;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.section4-column-wrapper h2 {
    font-size: 3em;
}    

    .section4-column-left {
        margin-right: 0px;
    }

    .section4-column-left  img {
        margin-top: 5em;
        margin-bottom: 5em;
    }

    .section4-column-right {
        padding-left: 0px;
        margin-top: 3em;
    }

    .large-caption {
        font-size: 1.5em;
    }


/* Section 5  */


.section5-content {
    padding:0px; 
    padding-top: 4em;
    padding-bottom: 4em;
    height: 100%;
}

.section5-column-wrapper-home {
    width: 100%;
    display: flex;
    flex-direction: column;
} 

.section5-column-left-home {
    width: 100%;
}



    .summaryimage {
        position: absolute;
        width: 120%;
        top: -6em;
    }

    .summarypara{
        width: 100%; 
        padding-top: 2em;
    }


    .learning-image {
        width: 5%; 
        height: 5%; 
        padding-left: .5em;
        padding-right: 1em;
    }


.section5-column-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 4em 0 4em 0;
    overflow: hidden;
}


.section5-column-left {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding-bottom: 2em;
}

.flexcontainer-row {
    align-items: center;
}

  /* Section 6 */

#section6 {
    padding-bottom: 4em;
}


#section6 h3 {
    font-size: 2em;
}

  .videolast {
     display: block;
     width: 10%;
}




/*  */


footer {
    background-color:#fff;
    margin: 0;
    height: 6em;
    padding-left: 5%;
    padding-right:5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-left-column {
    width: 10%;
}

.footer-left-column img {
    padding-left: .5em;
    width: 30%;
}



/* BG NOISE */

.noise {
    z-index: 9999999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    opacity: .08;
   }


}